<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹幕预处理</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body
    {
    font-size:18px;
    color:#000000;
    }
    </style>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">首页</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li >
							 <a href="/dict_page">自定义词典</a>
						</li>

                        <li >
							 <a href="/single_senti">单文本分析</a>
						</li>
                        <li class="active">
							 <a href="/data_prepare">数据预处理</a>
						</li>
                        <li >
							 <a href="/frag_senti">片段分析</a>
						</li>

					</ul>

				</div>
			</nav>
        <br/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        上传原始弹幕文件
                    </h3>
                </div>
                <div class="panel-body">
                    <div style="display:block;margin:0 auto">
                        <form id="form1" method="post" action="/danmu_upload" enctype="multipart/form-data">
                            <div class="form-group">

                                <input id="myfile" type="file" name="myfile" class="btn btn-default"/>  <!--后台代码中获取文件是通过form的name来标识的-->
                                <br/>
                                <div  style="text-align:center">
                                    <button type="submit" class="btn btn-primary" >上传</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="help-block">
                        <h5>
                        可接收的文件类型为csv
                        </h5>
                    </span>
                </div>
            </div>
            <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3>
                        数据预处理
                    </h3>
            </div>
            <div class="panel-body">
                <div style="display:block;margin:0 auto">
                    <p>
                        <h4>1. 数据清洗</h4>
                    </p>
                    <table class="table">
                        <tr><td><a href="/danmu_clean" class="btn btn-primary " role="button" >开始清洗</a></td>
                            <td><a href="/cleaned_download" class="btn btn-primary " role="button" >下载</a></td></tr>
                    </table>
                <br/>
                    <p>
                        <h4>2. 按时间聚合弹幕</h4>
                    </p>
                    <table class="table">
                        <tr><td><a href="/danmu_frag" class="btn btn-primary " role="button" >开始聚合</a></td>
                            <td><a href="/cleaned_frag_download" class="btn btn-primary " role="button" >下载</a></td></tr>
                    </table>
                 <br/>
                    <p>
                        <h4>3. 提取情感特征</h4>
                    </p>
                    <table class="table">
                        <tr><td><a href="/danmu_senti_feature" class="btn btn-primary " role="button" >开始提取</a></td>
                            <td><a href="/cleaned_frag_feature_download" class="btn btn-primary " role="button" >下载</a></td></tr>
                    </table>

                </div>
            </div>
            <div class="panel-footer">
                    <span class="help-block">
                        <h5>
                        务必按顺序进行预处理操作
                        </h5>
                    </span>
                </div>
        </div>
		</div>
	</div>
</div>
</body>
</body>
</html>