<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>片段分析结果</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body
    {
    font-size:18px;
    color:#000000;
    }
    </style>
</head>
<body>
<div class="container">
	<div class="row clearfix">
        <div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">首页</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li >
							 <a href="/single_senti">单文本分析</a>
						</li>
                        <li >
							 <a href="#">数据预处理</a>
						</li>
                        <li class="active">
							 <a href="/frag_senti">片段分析</a>
						</li>
                        <li >
							 <a href="/dict_page">自定义词典</a>
						</li>
					</ul>

				</div>
			</nav>
        <br/>
		</div>
{#        导航栏+标签页 #}
		<div class="col-md-2 column">
			<ul class="nav nav-stacked nav-pills">

				<li role="presentation" class="active">
					 <a href="#num_tab" role="tab" data-toggle="pill">弹幕数量</a>
				</li>
				<li role="presentation">
					 <a href="#score_tab" role="tab" data-toggle="pill">情感总值</a>
				</li>
                <li role="presentation">
					 <a href="#avg_score_tab" role="tab" data-toggle="pill">情感均值</a>
				</li>
                <li role="presentation">
					 <a href="#report_tab" role="tab" data-toggle="pill">分析报告</a>
				</li>

			</ul>
		</div>
		<div class="col-md-10 column">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="num_tab">弹幕数量</div>

                <div role="tabpanel" class="tab-pane " id="score_tab">情感总值</div>

                <div role="tabpanel" class="tab-pane" id="avg_score_tab">情感均值</div>

                <div role="tabpanel" class="tab-pane" id="report_tab">
                    <a href="/frag_senti_report" class="btn btn-primary " role="button" >下载分析报告</a>
                </div>

            </div>
		</div>
	</div>
</div>
</body>
</html>