<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹幕片段分析</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body
    {
    font-size:18px;
    color:#000000;
    }
    </style>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">首页</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li >
							 <a href="/dict_page">自定义词典</a>
						</li>

                        <li >
							 <a href="/single_senti">单文本分析</a>
						</li>
                        <li >
							 <a href="/data_prepare">数据预处理</a>
						</li>
                        <li class="active">
							 <a href="/frag_senti">片段分析</a>
						</li>

					</ul>

				</div>
			</nav>
        <br/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        上传弹幕片段文件
                    </h3>
                </div>
                <div class="panel-body">
                    <div style="display:block;margin:0 auto">
                        <form id="form1" method="post" action="/frag_senti_upload" enctype="multipart/form-data">
                            <div class="form-group">
                                <input id="File1" type="file" name="myfile" class="btn btn-default"/>  <!--后台代码中获取文件是通过form的name来标识的-->
                                <br/>
                                <div class="col-md-6" style="text-align:center">
                                    <button type="submit" class="btn btn-primary " >上传</button>
                                </div>
                                <div class="col-md-6" style="text-align:center">
                                    <a href="/frag_senti_analysis" class="btn btn-primary " role="button" >开始分析</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="help-block">
                        <h5>
                        可接收的文件类型为csv
                        </h5>
                    </span>
                </div>

            </div>


		</div>
	</div>
</div>
</body>
</html>