<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>直播弹幕情感分析系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body
    {
    font-size:18px;
    color:#000000;
    }
    </style>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">首页</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li >
							 <a href="/dict_page">自定义词典</a>
						</li>

                        <li >
							 <a href="/single_senti">单文本分析</a>
						</li>
                        <li >
							 <a href="/data_prepare">数据预处理</a>
						</li>
                        <li >
							 <a href="/frag_senti">片段分析</a>
						</li>

					</ul>

				</div>
			</nav>

			<div class="jumbotron well">
                <h1>
                    直播弹幕情感分析及高光检测系统
                </h1>
                <br/>
                <ul>
                    <li>
                        <h3>
                            自定义词典：上传用户自定义词典，与系统词典合并
                        </h3>
                    </li>
                    <li>
                        <h3>
                            单文本分析：输入单条弹幕，判断其情感倾向
                        </h3>
                    </li>
                    <li>
                        <h3>
                             数据预处理：上传弹幕片段原始数据，进行清洗、聚合并提取情感特征
                        </h3>
                    </li>
                    <li>
                        <h3>
					        片段分析：上传预处理后的弹幕片段数据，进行情感可视化和高光片段分析
                        </h3>
                    </li>

                </ul>

			</div>
            <div>
                <span style="float:right">

                        开发者: 许茂泽&ensp;&ensp;

                    <img src="/static/logo.jpg"  height="130" width="110"/>
                </span>
            </div>

		</div>
	</div>
</div>
</body>
</html>